.u-section-1 {
    background-image: none;
  }
  
  .u-section-1 .u-sheet-1 {
    min-height: 822px;
  }
  
  .u-section-1 .u-layout-wrap-1 {
    width: 948px;
    margin: 60px auto;
  }
  
  .u-section-1 .u-layout-cell-1 {
    min-height: 517px;
  }
  
  .u-section-1 .u-container-layout-1 {
    padding: 30px;
  }
  
  .u-section-1 .u-image-1 {
    width: 408px;
    height: 408px;
    margin: 25px auto 0;
  }
  
  .u-section-1 .u-layout-cell-2 {
    min-height: 517px;
  }
  
  .u-section-1 .u-container-layout-2 {
    padding: 30px;
  }
  
  .u-section-1 .u-text-1 {
    font-family: "League Spartan";
    font-size: 3rem;
    margin: 0;
  }
  
  .u-section-1 .u-text-2 {
    font-family: "League Spartan";
    font-size: 1rem;
    margin: 20px 0 0;
  }
  
  .u-section-1 .u-social-icons-1 {
    height: 25px;
    min-height: 16px;
    width: 112px;
    min-width: 76px;
    margin: 8px auto 0 0;
  }
  
  .u-section-1 .u-icon-1 {
    height: 0;
  }
  
  .u-section-1 .u-icon-2 {
    height: 0;
  }
  
  .u-section-1 .u-icon-3 {
    height: 0;
  }
  
  .u-section-1 .u-icon-4 {
    height: 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
      min-height: 741px;
    }
  
    .u-section-1 .u-layout-wrap-1 {
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 513px;
    }
  
    .u-section-1 .u-image-1 {
      margin-top: 50px;
    }
  
    .u-section-1 .u-layout-cell-2 {
      min-height: 513px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
      min-height: 561px;
    }
  
    .u-section-1 .u-layout-wrap-1 {
      position: relative;
      width: auto;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 393px;
    }
  
    .u-section-1 .u-image-1 {
      width: 300px;
      height: 300px;
      margin-top: 25px;
    }
  
    .u-section-1 .u-layout-cell-2 {
      min-height: 100px;
    }
  
    .u-section-1 .u-text-1 {
      font-size: 1.5rem;
    }
  
    .u-section-1 .u-text-2 {
      font-size: 0.875rem;
    }
  
    .u-section-1 .u-social-icons-1 {
      margin-right: 145px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
      min-height: 480px;
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 590px;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
      min-height: 1018px;
    }
  
    .u-section-1 .u-layout-wrap-1 {
      margin-top: 184px;
      width: auto;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 371px;
    }
  } .u-section-2 {
    background-image: none;
  }
  
  .u-section-2 .u-sheet-1 {
    min-height: 929px;
  }
  
  .u-section-2 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  
  .u-section-2 .u-layout-cell-1 {
    min-height: 270px;
  }
  
  .u-section-2 .u-container-layout-1 {
    padding: 30px;
  }
  
  .u-section-2 .u-text-1 {
    margin-bottom: 0;
    margin-top: 54px;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: Neucha;
  }
  
  .u-section-2 .u-text-2 {
    font-family: Neucha;
    font-size: 0.875rem;
    margin: 20px auto 0 0;
  }
  
  .u-section-2 .u-layout-cell-2 {
    min-height: 270px;
  }
  
  .u-section-2 .u-container-layout-2 {
    padding: 30px;
  }
  
  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: Neucha;
    margin: 0 0 0 auto;
  }
  
  .u-section-2 .u-text-4 {
    font-size: 0.875rem;
    font-family: Neucha;
    margin: 20px 0 0 auto;
  }
  
  .u-section-2 .u-layout-cell-3 {
    min-height: 270px;
  }
  
  .u-section-2 .u-container-layout-3 {
    padding: 10px;
  }
  
  .u-section-2 .u-image-1 {
    width: 210px;
    height: 210px;
    margin: 0 auto;
  }
  
  .u-section-2 .u-layout-cell-4 {
    min-height: 270px;
  }
  
  .u-section-2 .u-container-layout-4 {
    padding: 30px;
  }
  
  .u-section-2 .u-text-5 {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: Neucha;
    margin: 0 auto 0 0;
  }
  
  .u-section-2 .u-text-6 {
    font-family: Neucha;
    font-size: 0.875rem;
    margin: 20px auto 0 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-2 .u-sheet-1 {
      min-height: 786px;
    }
  
    .u-section-2 .u-layout-cell-1 {
      min-height: 222px;
    }
  
    .u-section-2 .u-layout-cell-2 {
      min-height: 222px;
    }
  
    .u-section-2 .u-layout-cell-3 {
      min-height: 222px;
    }
  
    .u-section-2 .u-image-1 {
      width: 199px;
      height: 199px;
    }
  
    .u-section-2 .u-layout-cell-4 {
      min-height: 222px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-2 .u-sheet-1 {
      min-height: 490px;
    }
  
    .u-section-2 .u-layout-cell-1 {
      min-height: 100px;
    }
  
    .u-section-2 .u-layout-cell-2 {
      min-height: 100px;
    }
  
    .u-section-2 .u-layout-cell-3 {
      min-height: 170px;
    }
  
    .u-section-2 .u-image-1 {
      width: 148px;
      height: 148px;
    }
  
    .u-section-2 .u-layout-cell-4 {
      min-height: 100px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-2 .u-sheet-1 {
      min-height: 726px;
    }
  
    .u-section-2 .u-layout-wrap-1 {
      margin-bottom: -1072px;
    }
  
    .u-section-2 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-2 .u-layout-cell-2 {
      order: 1;
    }
  
    .u-section-2 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-2 .u-layout-cell-3 {
      min-height: 176px;
      order: 0;
    }
  
    .u-section-2 .u-container-layout-4 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-2 .u-sheet-1 {
      min-height: 613px;
    }
  
    .u-section-2 .u-layout-wrap-1 {
      margin-bottom: -1328px;
    }
  
    .u-section-2 .u-layout-cell-3 {
      min-height: 111px;
    }
  } .u-section-3 {
    background-image: none;
  }
  
  .u-section-3 .u-sheet-1 {
    min-height: 332px;
  }
  
  .u-section-3 .u-btn-1 {
    align-self: center;
    font-family: Neucha;
    transition-duration: 0.5s;
    box-shadow: 0px 0px 0px rgba(0,0,0,0);
    text-shadow: 0px 0px 0px rgba(0,0,0,0);
    border-style: solid;
    margin: 20px auto 0;
  }
  
  .u-section-3 .u-text-1 {
    font-family: Neucha;
    margin: 30px auto 0;
  }
  
  .u-section-3 .u-icon-1 {
    width: 64px;
    height: 81px;
    color: rgb(137, 248, 139) !important;
    margin: -81px auto 0 291px;
  }
  
  .u-section-3 .u-text-2 {
    font-family: Neucha;
    width: 636px;
    margin: 20px auto 0;
  }
  
  .u-section-3 .u-text-3 {
    width: 636px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    font-family: Neucha;
  }
  
  @media (max-width: 1199px) {
    .u-section-3 .u-btn-1 {
      transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    }
  }
  
  @media (max-width: 991px) {
    .u-section-3 .u-icon-1 {
      margin-left: 223px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-3 .u-icon-1 {
      margin-left: 167px;
    }
  
    .u-section-3 .u-text-2 {
      width: 540px;
    }
  
    .u-section-3 .u-text-3 {
      width: 540px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-3 .u-sheet-1 {
      min-height: 427px;
    }
  
    .u-section-3 .u-icon-1 {
      margin-top: -108px;
      margin-left: 0;
    }
  
    .u-section-3 .u-text-2 {
      width: 340px;
      margin-top: 47px;
    }
  
    .u-section-3 .u-text-3 {
      width: 340px;
    }
  }
  
  .u-section-3 .u-btn-1,
  .u-section-3 .u-btn-1:before,
  .u-section-3 .u-btn-1 > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
  }
  
  .u-section-3 .u-btn-1.u-btn-1.u-btn-1:hover {
    transform: scale(1.1) translateX(0px) translateY(0px) !important;
    box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
    text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
  }
  
  .u-section-3 .u-btn-1.u-btn-1.u-btn-1:hover:before {
    background-color: transparent !important;
  }
  
  .u-section-3 .u-btn-1.u-btn-1.u-btn-1.hover {
    transform: scale(1.1) translateX(0px) translateY(0px) !important;
    box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
    text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
  }
  
  .u-section-3 .u-container-layout:hover .u-btn-1 {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  }
  
  .u-container-layout.hover .u-section-3 .u-btn-1 {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  } .u-section-4 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/COCO31\ \(1\).png");
    background-position: 50% 50%;
  }
  
  .u-section-4 .u-sheet-1 {
    min-height: 272px;
  }
  
  .u-section-4 .u-text-1 {
    font-family: Neucha;
    margin: 57px auto 0;
  }
  
  .u-section-4 .u-text-2 {
    font-weight: 700;
    font-family: Neucha;
    margin: 8px auto 0;
  }
  
  .u-section-4 .u-btn-1 {
    text-transform: uppercase;
    letter-spacing: 1px;
    background-image: none;
    font-weight: 700;
    font-family: "League Spartan";
    margin: 29px auto 0 376px;
  }
  
  .u-section-4 .u-btn-2 {
    text-transform: uppercase;
    letter-spacing: 1px;
    background-image: none;
    font-weight: 700;
    font-family: "League Spartan";
    margin: -45px auto 57px 602px;
  }
  
  @media (max-width: 1199px) {
    .u-section-4 .u-sheet-1 {
      min-height: 224px;
    }
  
    .u-section-4 .u-btn-1 {
      margin-left: 276px;
    }
  
    .u-section-4 .u-btn-2 {
      margin-left: 502px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-4 .u-sheet-1 {
      min-height: 300px;
    }
  
    .u-section-4 .u-btn-1 {
      margin-top: 8px;
      margin-left: 170px;
    }
  
    .u-section-4 .u-btn-2 {
      margin-bottom: 60px;
      margin-left: 389px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-4 .u-sheet-1 {
      min-height: 225px;
    }
  
    .u-section-4 .u-btn-1 {
      margin-left: auto;
    }
  
    .u-section-4 .u-btn-2 {
      margin-top: 20px;
      margin-left: 169px;
      margin-bottom: 57px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-4 .u-sheet-1 {
      min-height: 300px;
    }
  
    .u-section-4 .u-btn-2 {
      margin-top: 19px;
      margin-left: auto;
      margin-bottom: 60px;
    }
  } .u-section-5 {
    background-image: none;
  }
  
  .u-section-5 .u-sheet-1 {
    min-height: 500px;
  }
  
  .u-section-5 .u-custom-html-1 {
    margin-bottom: 0;
    height: auto;
    min-height: 357px;
    margin-top: 0;
  }
  
  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
    font-weight: 700;
    font-family: Neucha;
    margin: 30px auto 60px;
  }
  
  @media (max-width: 575px) {
    .u-section-5 .u-text-1 {
      font-size: 1.875rem;
    }
  } .u-section-6 {
    background-image: none;
  }
  
  .u-section-6 .u-sheet-1 {
    min-height: 541px;
  }
  
  .u-section-6 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 0;
  }
  
  .u-section-6 .u-layout-cell-1 {
    min-height: 359px;
  }
  
  .u-section-6 .u-container-layout-1 {
    padding: 30px;
  }
  
  .u-section-6 .u-text-1 {
    font-weight: 700;
    font-family: Neucha;
    margin: 22px auto 0 0;
  }
  
  .u-section-6 .u-text-2 {
    font-size: 0.875rem;
    font-family: Neucha;
    margin: 37px 0 0;
  }
  
  .u-section-6 .u-layout-cell-2 {
    min-height: 359px;
  }
  
  .u-section-6 .u-container-layout-2 {
    padding: 30px;
  }
  
  .u-section-6 .u-text-3 {
    font-size: 1.25rem;
    font-weight: 700;
    font-family: Neucha;
    margin: 26px auto 0 0;
  }
  
  .u-section-6 .u-text-4 {
    font-weight: 400;
    margin-left: 0;
    margin-right: auto;
    margin-bottom: 0;
    font-family: Neucha;
  }
  
  .u-section-6 .u-btn-1 {
    background-image: none;
    font-size: 1rem;
    padding: 0;
  }
  
  .u-section-6 .u-text-5 {
    font-weight: 400;
    font-family: Neucha;
    margin: 19px auto 0 0;
  }
  
  .u-section-6 .u-btn-2 {
    background-image: none;
    font-size: 1rem;
    padding: 0;
  }
  
  .u-section-6 .u-text-6 {
    font-weight: 400;
    font-family: Neucha;
    margin: 19px auto 0 0;
  }
  
  .u-section-6 .u-btn-3 {
    background-image: none;
    font-size: 1rem;
    padding: 0;
  }
  
  .u-section-6 .u-text-7 {
    font-weight: 400;
    font-family: Neucha;
    margin: 19px auto 0 0;
  }
  
  .u-section-6 .u-btn-4 {
    background-image: none;
    font-size: 1rem;
    padding: 0;
  }
  
  .u-section-6 .u-layout-cell-3 {
    min-height: 359px;
  }
  
  .u-section-6 .u-container-layout-3 {
    padding: 30px;
  }
  
  .u-section-6 .u-text-8 {
    font-size: 1.25rem;
    font-weight: 700;
    font-family: Neucha;
    margin: 26px auto 0 0;
  }
  
  .u-section-6 .u-text-9 {
    font-weight: 400;
    font-size: 1rem;
    font-family: Neucha;
    margin: 21px auto 0 0;
  }
  
  .u-section-6 .u-btn-5 {
    background-image: none;
    padding: 0;
  }
  
  .u-section-6 .u-text-10 {
    font-weight: 400;
    font-size: 1rem;
    font-family: Neucha;
    margin: 20px auto 0 0;
  }
  
  .u-section-6 .u-btn-6 {
    background-image: none;
    padding: 0;
  }
  
  .u-section-6 .u-text-11 {
    font-weight: 400;
    font-size: 1rem;
    font-family: Neucha;
    margin: 23px auto 0 0;
  }
  
  .u-section-6 .u-btn-7 {
    background-image: none;
    padding: 0;
  }
  
  .u-section-6 .u-line-1 {
    margin-top: 0;
    margin-bottom: 0;
    transform-origin: left center 0px;
  }
  
  .u-section-6 .u-text-12 {
    font-family: Neucha;
    margin: 37px auto 0 88px;
  }
  
  .u-section-6 .u-icon-1 {
    width: 64px;
    height: 64px;
    margin: -44px auto 37px 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-6 .u-sheet-1 {
      min-height: 478px;
    }
  
    .u-section-6 .u-layout-wrap-1 {
      position: relative;
    }
  
    .u-section-6 .u-layout-cell-1 {
      min-height: 355px;
    }
  
    .u-section-6 .u-text-2 {
      width: auto;
      margin-top: 14px;
    }
  
    .u-section-6 .u-layout-cell-2 {
      min-height: 296px;
    }
  
    .u-section-6 .u-layout-cell-3 {
      min-height: 296px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-6 .u-sheet-1 {
      min-height: 382px;
    }
  
    .u-section-6 .u-layout-cell-1 {
      min-height: 100px;
    }
  
    .u-section-6 .u-layout-cell-2 {
      min-height: 100px;
    }
  
    .u-section-6 .u-layout-cell-3 {
      min-height: 100px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-6 .u-sheet-1 {
      min-height: 1111px;
    }
  
    .u-section-6 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-6 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-6 .u-container-layout-3 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-6 .u-text-12 {
      width: auto;
      margin-top: 41px;
      margin-left: 78px;
    }
  
    .u-section-6 .u-icon-1 {
      margin-top: -45px;
      margin-bottom: 60px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-6 .u-sheet-1 {
      min-height: 100vh;
    }
  
    .u-section-6 .u-text-12 {
      margin-top: 60px;
      margin-left: auto;
    }
  
    .u-section-6 .u-icon-1 {
      margin-top: -49px;
      margin-bottom: 32px;
    }
  }